{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-black"><strong>Claire's Flask</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/beachpic.png') }}" alt="Python Development" height="550">
                    <div class="card-body">
                    <h5 class="card-title">Fun facts about me!</h5>
                    <p class="card-text">
                        <ol>
                            <li>I have been figure skating for 9 years</li>
                            <li>I play field hockey at Del Norte</li>
                            <li>My favorite color is pink</li>
                            <li>I am OBSESSED with Taylor Swift and Harry Styles</li>
                            <li>My favorite season is WINTER!!!</li>
                            <li>I LOVE NATURE!!!</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/nature.png') }}" alt="Flask Development" height="550">
                    <div class="card-body">
                    <h5 class="card-title">My FAVORITE places to travel!</h5>
                    <p class="card-text">
                        <ol>
                            <li>Hawaii</li>
                            <li>New York</li>
                            <li>YOSEMITE!!!</li>
                            <li>Canada</li>
                            <li>National Parks</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/musicphoto.png') }}" alt="Backend and Persistence" height="550">
                    <div class="card-body">
                    <h5 class="card-title">TOP FIVE SONGS!</h5>
                    <p class="card-text">
                        <ol>
                            <li>this is me trying - Taylor Swift</li>
                            <li>Late Night Talking - Harry Styles</li>
                            <li>Matilda - Harry Styles</li>
                            <li>epiphany - Taylor Swift</li>
                            <li>My Way - Calvin Harris</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}