<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>About Me</strong></h1>
        <p class="text-secondary">Hey! My name is Claire Zhao and I go to Del Norte Highschool. I am currently a sophomore here and I have been having so much fun! This class is my first computer science class and it has been quite an adventure. I am excited to see what I will learn in this class and to see how much I will grow in this class! Here is my current schedule:
            <table>
                <tr>
                 <th>Class</th>
                 <th>Start Time</th>
                 <th>End Time</th>
                </tr>
                <tr>
                    <td>AP Calculus AB</td>
                    <td>8:35</td>
                    <td>9:44</td>
                </tr>
            
                <tr>
                    <td>Honors Humanities</td>
                    <td>9:49</td>
                    <td>10:58</td>
                </tr>
            
                <tr>
                    <td>Break</td>
                    <td>10:58</td>
                    <td>11:08</td>
                </tr>
            
                <tr>
                    <td>AP Biology</td>
                    <td>11:13</td>
                    <td>12:52</td>
                </tr>
            
                <tr>
                    <td>Lunch</td>
                    <td>12:22</td>
                    <td>12:52</td>
                </tr>
            
                <tr>
                    <td>AP Computer Science Principles</td>
                    <td>12:57</td>
                    <td>2:06</td>
                </tr>
            
                <tr>
                    <td>Office Hours</td>
                    <td>2:06</td>
                    <td>2:31</td>
                </tr>
            
                <tr>
                    <td>Off Roll</td>
                    <td>2:36</td>
                    <td>3:45</td>
                </tr>
            </table>
        </p>
    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
